@media (min-width: 1200px) {
  .container {
    width: 930px;
  }
}

h1 {
    font-family: Georgia;
}

h2 {
    font-family: Calibri;
}

p {
    font-family: Calibri;
}

a.navbar-brand {
    font-family: Calibri;
    font-weight: bold;
}
